.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 100px;
}
h1 {
  text-align: center;
  opacity: .8;
}
input {
  padding: 20px;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
}
input::placeholder {
  color: #888;
  font-size: 20px;
  opacity: 0.7;
}
ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 0;
}
li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 6px 10px;
  width: 50%;
  margin: auto;
}
li span {
  text-align: left;
  font-size: 20px;
}
.buttons {
  display: flex;
  gap: 10px;
}
button {
  width: 80px;
  padding: 6px;
  border: none;
  color: rgb(224, 5, 5);
  cursor: pointer;
  font-size: 18px;
  background-color: white;
}
.buttons button:nth-child(1) {
  color: #6b58d6;
}
